<div class="my-20 md:my-40">
    <div class="container mx-auto">
        <div class="flex justify-center items-start text-start p-4 font-['Poppins']">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="py-2 px-5 md:px-10">
                    <h1 class="text-5xl font-extrabold">For more details Contact us!</h1>
                    <h3 class="my-5">Send us a quick message with your question and we'll get back to you as soon as possible.We're pretty responsive and will try to respond in few hours</h3>
                </div>
                <form class="items-start p-2 px-5 md:order-last" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="flex justify-between gap-2 mb-6">
                        <div class="w-full">
                            <label  class="text-start block mb-2 text-sm font-medium text-gray-900 dark:text-white">Firstname</label>
                            <input type="text" formControlName="firstName"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter your firstname" required>
                        </div>
                        <div class="w-full">
                            <label  class="text-start block mb-2 text-sm font-medium text-gray-900 dark:text-white">Lastname</label>
                            <input type="text" formControlName="lastName"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter your lastname" required>
                        </div>
                    </div>
                    
                    <div class="mb-6">
                        <label  class="text-start block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input type="email" formControlName="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Enter your email" required>
                    </div>
                    <div class="mb-6">
                        <label  class="text-start block mb-2 text-sm font-medium text-gray-900 dark:text-white">Message</label>
                        <!-- <textarea type="text" 
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Enter your message" required> -->
                            <textarea name="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="" cols="30" rows="10" formControlName="message"></textarea>
                    </div>
                    
                    <button type="submit"
                        class="text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>