<div class="my-10 md:my-20">
    <div class="container mx-auto">
        <div class="flex justify-center items-center text-center p-4 font-['Poppins']">
            <div class=" w-full md:w-2/3 px-2">
                <div class="my-5">
                    <h1 class="font-extrabold text-2xl text-[#121212]">Our Story</h1>
                    <h3 class="text-gray-800">Welcome to Instructor Class Scheduling Web Application, where we believe
                        that effective class scheduling is
                        the key to a successful learning environment. Our journey began with a vision to simplify and
                        optimize the way instructors are scheduled, making education more accessible and efficient. We
                        understand the challenges faced by educational institutions and are committed to providing a
                        solution that eases the burden of scheduling, resulting in better outcomes for students,
                        instructors, and administrators alike.</h3>
                </div>
                <div class="my-5">
                    <h1 class="font-extrabold text-2xl">Our Mission:</h1>
                    <h3 class="text-gray-800">At Instructor Class Scheduling Web Application, our mission is to
                        revolutionize instructor scheduling. We aim to enhance
                        the education experience by creating a platform that empowers educational institutions with
                        efficient, user-friendly tools. We are dedicated to reducing scheduling conflicts, improving
                        resource allocation, and ultimately, creating a smoother, more productive academic environment
                        for all.</h3>
                </div>
                <div class="my-5">
                    <h1 class="font-bold text-2xl">Our Vision:</h1>
                    <h3 class="text-gray-800">We envision a future where educational institutions worldwide are equipped
                        with the tools and
                        knowledge to effortlessly manage their class schedules. We see our platform as a catalyst for
                        positive change, making educational processes more streamlined and focused on what truly
                        matters: learning.</h3>
                </div>
                <div class="my-10">
                    <h1 class="font-bold text-2xl">Core values:</h1>
                    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-4 h-fit">
                        <div>

                            <div 
                                class="block h-full max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                    Efficiency</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400">We prioritize efficiency in
                                    everything we do, ensuring our scheduling system simplifies complex tasks.</p>
                            </div>

                        </div>
                        <div>

                            <div
                                class="block h-full max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                    Transparency</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400">We believe in transparent
                                    communication and decision-making to build trust with our users.</p>
                            </div>

                        </div>
                        <div class="">

                            <div
                                class="block h-full max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                    Innovation</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400">We continuously innovate to
                                    provide cutting-edge solutions.</p>
                            </div>

                        </div>
                        <div class="">

                            <div
                                class="block h-full max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                    User-Centered</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400">Our users' needs are at the
                                    heart of our development process.</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>